{% extends 'layout.html' %}

{% block title%}
  About Us
{% endblock %}

{% block content%}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-semibold mb-4">About Us</h1>
    <p class="text-gray-700 leading-relaxed">
        Welcome to th Hungy Student website! We are a community-driven platform where students can share their favorite recipes and culinary creations. Whether you're a beginner cook or a seasoned chef, our website provides a space for you to discover new recipes, submit your own, and connect with other food enthusiasts.
    </p>
    <p class="text-gray-700 leading-relaxed mt-4">
        Our mission is to inspire students to explore the world of cooking, experiment with different ingredients, and develop their culinary skills. We believe that cooking is not only a valuable life skill but also a creative and enjoyable activity that brings people together.
    </p>
    <h2 class="text-2xl font-semibold mt-8 mb-2">What We Offer</h2>
    <ul class="list-disc list-inside text-gray-700 leading-relaxed">
        <li>A diverse collection of student-submitted recipes, ranging from quick and easy meals to gourmet dishes.</li>
        <li>Interactive features such as ratings and reviews to help you discover the most popular recipes. (coming soon)</li>
        <li>Guides and tutorials for cooking techniques, ingredient substitutions, and kitchen hacks.</li>
        <li>A supportive community of fellow students and food enthusiasts who share your passion for cooking.</li>
        <li>Opportunities to showcase your culinary creations and get feedback from other users.</li>
    </ul>
    <p class="text-gray-700 leading-relaxed mt-4">
        Whether you're looking for inspiration for your next meal or eager to share your own recipes with the world, the Hungry Student website is here to help you on your culinary journey. Join us today and become part of our growing community of food lovers!
    </p>
</div>
{% endblock %}
